In [3]:
import pandas as pd

In [1]:
customerData = {
    "Customer Name": ["Jane Doe", "Kim Brown", "John Smith", "Chris Brown", "Annette Clarke", "Blue Diamond", "Kings Stit", "North Blue", "Pink Brown", "Ally King", "Job Black"],
    "TransID": ["10201", "10202", "10203", "10204", "10205", "10206", "10207", "10208", "10209", "10210", "10211"],
    "Age": [23,26,32,65,44,31,61,19,29,33,19],
    "Quantity": [3,1,1,3,2,3,3,10,6,3,12],
    "Product": ["Beer", "Bread", "Burger", "Chicken", "Bread", "Burger", "Chicken", "Beer", "Water", "Chicken", "Fruits"],
    "Value": [21.25, 7.5, 7.25, 21.75,14,21.25,21.5,70.25,42,21.35,84.25],
    "Coupon":["N","Y","N","Y", "Y", "N", "Y", "N", "Y", "N", "Y"],
    "PaymentType": ["Cash", "Credit Card", "Cash", "Cash", "Cash", "Credit Card", "Credit Card", "Cash", "Credit Card", "Cash", "Cash"]
}

In [4]:
df = pd.DataFrame(customerData)
df

     Customer Name TransID  Age  Quantity  Product  Value Coupon  PaymentType
0         Jane Doe   10201   23         3     Beer  21.25      N         Cash
1        Kim Brown   10202   26         1    Bread   7.50      Y  Credit Card
2       John Smith   10203   32         1   Burger   7.25      N         Cash
3      Chris Brown   10204   65         3  Chicken  21.75      Y         Cash
4   Annette Clarke   10205   44         2    Bread  14.00      Y         Cash
5     Blue Diamond   10206   31         3   Burger  21.25      N  Credit Card
6       Kings Stit   10207   61         3  Chicken  21.50      Y  Credit Card
7       North Blue   10208   19        10     Beer  70.25      N         Cash
8       Pink Brown   10209   29         6    Water  42.00      Y  Credit Card
9        Ally King   10210   33         3  Chicken  21.35      N         Cash
10       Job Black   10211   19        12   Fruits  84.25      Y         Cash

In [6]:
# Rows in the DF
print(f"The total number of rows are: {df.shape[0]}")
# Columns in the DF
print(f"The total number of columns are: {df.shape[1]}")

The total number of rows are: 11
The total number of columns are: 8

In [7]:
# What are the data types in the dataframe
df.dtypes

Customer Name     object
TransID           object
Age                int64
Quantity           int64
Product           object
Value            float64
Coupon            object
PaymentType       object
dtype: object

In [10]:
# Show the value in row 5
df.iloc[4]

Customer Name    Annette Clarke
TransID                   10205
Age                          44
Quantity                      2
Product                   Bread
Value                      14.0
Coupon                        Y
PaymentType                Cash
Name: 4, dtype: object

In [ ]:
# New row of data